@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  @apply outline-none focus:ring-0 ring-0 #{!important};
}

body {
  @apply text-black dark:text-white dark:bg-neutral-900;
  font-family: "Plus Jakarta Sans", serif;
}

h1 {
  font-family: "Instrument Serif", serif;
}

.container {
  max-width: 1000px;
}