@import url("https://fonts.googleapis.com/css2?family=Sen:wght@100;200;300;400;500;600;700;800;900");

@tailwind base;
@tailwind components;
@tailwind utilities;

$bg: #131716;

@layer base {
  html {
    @apply min-h-screen text-lg text-white;
    font-family: "Sen", sans-serif;
  }

  body {
    background-color: $bg;
    background-image: url("/vue.png");
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 1000;
  }

  .footer-bg {
    z-index: -1;
    min-width: 100%;
    min-height: 800px;
    background-color: $bg;
    // background-image: url("/vue.png");
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    transform: scaleY(-1);
    position: absolute;
    bottom: 0px;
  }

  h1 {
    @apply text-4xl lg:text-5xl font-extrabold;
    line-height: 1.155;
  }

  h1::after {
    content: "";
  }

  h1::after:nth-last-child(-n + 2) {
    @apply text-primary-500;
  }

  h2 {
    @apply text-2xl font-extrabold mb-4 wavy;
  }

  h3 {
    @apply text-xl font-bold mb-1;
  }

  p,
  .description {
    @apply text-secondary-500;
    line-height: 1.43;
  }

  p.link  {
    @apply hover:text-primary-500 cursor-pointer transition;
  }

  input[type="text"] {
    @apply box px-3 py-2 outline-none;
  }

  select {
    @apply bg-transparent border-2 border-slate-700 rounded px-2 py-1 cursor-pointer outline-none;
  }

  .alert {
    @apply rounded-lg mb-4 px-4 py-3;

    &-success {
      @apply bg-primary-500/10 text-primary-500;
    }

    &-danger {
      @apply bg-red-500/10 text-red-500;
    }
  }

  .avatar {
    @apply rounded-full overflow-hidden;

    &--mini {
      @apply w-10 h-10;
    }

    &--normal {
      @apply w-12 h-12 rounded-full;
    }
  }

  .badge {
    @apply border box text-left px-4 py-3 mb-4;
  }

  .box {
    @apply border-2 bg-primary-700/5 border-primary-500/10 rounded-lg;
  }

  .btn {
    @apply transition rounded-lg px-4 py-2 cursor-pointer font-bold text-center;

    &-mini {
      @apply text-sm transition rounded-lg px-2 py-1 cursor-pointer font-bold text-center;
    }

    &-primary {
      @apply bg-primary-500 hover:bg-primary-600 text-white;
    }

    &-info {
      @apply text-white bg-slate-500/5 hover:bg-slate-600/20 hover:text-primary-500 mx-1;

      &-active {
        @apply bg-primary-500/5 text-primary-500;
      }
    }

    &-loading {
      @apply bg-primary-500/10 hover:bg-primary-500/5 text-white;
    }
  }

  .container {
    @apply px-6 lg:px-0;
    max-width: 1300px !important;
  }

  .cta {
    @apply text-sm cursor-pointer text-slate-400 underline decoration-wavy underline-offset-4 transition;

    &:hover {
      @apply text-primary-500;
    }
  }

  .disabled {
    @apply opacity-50 pointer-events-none hover:bg-none;
  }

  .fadeInOut {
    animation: fadeInOut 2s ease-in-out infinite;
  }

  .label {
    @apply block px-2 py-1 rounded-lg text-xs font-bold;

    &--level {
      @apply bg-primary-500 text-black;
    }
  }

  .loading {
    @apply bg-slate-500/10 fadeInOut;
  }

  .note {
    @apply description text-sm;
  }

  .payment {
    div {
      @apply flex items-start;

      p {
        @apply ml-2;
      }
    }
  }

  .Questions {
    &--Item {
      @apply text-sm p-3 rounded-lg hover:bg-slate-700/40  border border-slate-800 cursor-pointer transition;
    }
  }

  .Testimonials {
    &--Item {
      @apply p-5 rounded-lg bg-primary-900/5 border border-primary-500/5;
    }
  }

  .topics {
    @apply flex-wrap my-2;

    .topic {
      @apply label box cursor-pointer mr-1 mb-1 transition hover:bg-primary-500 hover:text-white;

      &:first-child {
        @apply ml-0;
      }
    }
  }

  .user-card {
    @apply box md:px-4 md:py-4 mb-4;
  }

  .wavy {
    @apply underline decoration-wavy underline-offset-4 decoration-primary-500
underline decoration-wavy underline-offset-4 decoration-primary-500;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
